# Python Data Structures

## Numeric Types

Every number, string, data structure, function, class, module, and so on exists as a Python object.
<br> Most used numeric types : Integer and floating point numbers

numeric types are automatically understood by python

In [ ]:
x=7

In [ ]:
type(x)

In [ ]:
x=7.0

In [ ]:
type(x)

In [ ]:
x=3+1j

In [ ]:
type(x)

## Strings

A string is a sequence of characters.
<br> You can write strings using either single quotes ' or double quotes "

In [ ]:
a="this is a string";a

In [ ]:
b='this is also a string';b

In [ ]:
c="ahmet's idea";c

For multiline string use triple of single-quote or double-quote

In [ ]:
d=""" 
this is a multi line
string
"""

In [ ]:
d

\n character is a special character which tells the computer to go to next line

In [ ]:
print(d)

### len() function gives the number of element in a data object in python

In [ ]:
b="this is a string"

In [ ]:
len(b)

In [ ]:
b="this is a          string"

In [ ]:
len(b)

## String Indexing

Sequences maintain a left-to-right order among the items they contain: their items are stored and fetched by their relative positions.
<br>You can access the characters with the bracket operator [ ]

In [ ]:
t="python"

In [ ]:
t[0]

in python indexing starts with 0

In [ ]:
t[1]

In [ ]:
t[-1]

In [ ]:
t[-2]

## String Slicing

string name[starting location : ending location+1]

In [ ]:
t="python"

In [ ]:
t[0:2]

In [ ]:
t[0:3]

In [ ]:
t[:]

In [ ]:
t[:3]

In [ ]:
t[3:]

In [ ]:
t[-3:-1]

In [ ]:
t[-3:]

# Immutability

Immutable means unchangeable

Strings are immutable in Python—they cannot be changed in place after they are created

You can’t change a string by assigning to one of its positions, but you can always build a new one and assign it to the same name. 
<br> Because Python cleans up old objects as you go

In [5]:
s="Spam"

try assigning zeroth element as "z" character

In [6]:
s[0]="z"

TypeError: 'str' object does not support item assignment

so, if you want to change a string you have to re-create it

In [ ]:
s="z"+s[1:]

In [ ]:
print(s)

Every object in Python is classified as either immutable (unchangeable) or not.

In terms of the core types, numbers, strings, and tuples are immutable; lists, dictionaries,
and sets are not—they can be changed in place freely

## Tuples

A tuple is a fixed-length, immutable sequence of Python objects.
<br> The easiest way to create one is with a comma-separated sequence of values or using paranthesis ()

In [ ]:
a=3,4,5;a

In [ ]:
type(a)

In [ ]:
b=(2,4,5)

In [ ]:
type(b)

### Any sequence or iterator can be converted to a tuple by invoking tuple:

In [ ]:
a="test string";a

In [ ]:
type(a)

In [ ]:
b=tuple(a);b

In [ ]:
type(b)

Tuple elements can be accessed with square brackets.

In [ ]:
b[0]

In [ ]:
b[-1]

In [ ]:
b[:3]

### tuple object methods

In [ ]:
b=(1,2,2,3,3,3,4,4,4,4,5,5,5,5,5)

In [ ]:
b.count(2)

In [ ]:
b.count(5)

In [ ]:
b.index(4)

In [ ]:
b.index(3)

## List

In contrast with tuples, lists are variable-length and their contents can be modified.
<br> They can be defined using square brackets [] or using the list type function:

In [ ]:
mylist=[2,3,4,"text",None,True,"book"];mylist

In [ ]:
mylist[0]

In [ ]:
mylist[3]

In [ ]:
mylist[4]

In [ ]:
mylist[5]

### You can convert any sequence data structure into a list by typing list()

In [ ]:
a="book"

In [ ]:
b=list(a);b

In [ ]:
c=(3,4,5);type(c)

In [ ]:
c=list(c)

In [ ]:
type(c)

## List methods

List.append() appends a new element into a list

In [ ]:
t=[1,"1",2,"book","text","class"];t

In [ ]:
t.append("new")

In [ ]:
t

Del list[i] deletes a list element

In [ ]:
del t[0]

In [ ]:
t

List.pop(i) removes ith element in a list and returns the value of the element

In [ ]:
t.pop(0)

T.remove(value) removes first element that has value as “value”

In [ ]:
t

In [ ]:
t.remove("text")

In [ ]:
t

##  + concatenates list,string or tuple

In [ ]:
[1,2,3]+["a","b","c"]

In [ ]:
"test"+"string"

In [ ]:
c=(1,2,3)+("a","b","c");c

##  Extend vs Append

In [ ]:
t=[10,20,30]

In [ ]:
t.extend([40,50,60])

In [ ]:
t

In [ ]:
t[3]

In [ ]:
t=[10,20,30]

In [ ]:
t.append([40,50,60])

In [ ]:
t

In [ ]:
t[3]

### List slicing

In [ ]:
l=[10,20,30,40,50]

In [ ]:
l[1:3]

In [ ]:
l[3:]

In [7]:
two2d=[[1,2,3],[4,5,6],[7,8,9]];two2d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
two2d[1][1]

5

In [ ]:
two2d[0]

In [ ]:
two2d[1]

In [ ]:
two2d[1][0]

In [ ]:
two2d[1:]

## Changing list elements

In [ ]:
l=list("abcde");l

In [ ]:
l[1]

In [ ]:
l[1]=100

In [ ]:
l

In [ ]:
l[0]=l[-1]

In [ ]:
l

##  sorting the list

In [ ]:
mylist=list("deabc");mylist

In [ ]:
mylist.sort()

In [ ]:
mylist

In [ ]:
mylist=[4,0,5,9]

In [ ]:
mylist.sort();mylist

In [ ]:
mylist=[4,0,5,9,"a","d","c"]

In [ ]:
mylist.sort();mylist

### Beware in-place operations

In [ ]:
mylist=list("deabc");mylist

In [ ]:
k=mylist.sort()

In [ ]:
print(k)

## Assignment Creates References, Not Copies

In [ ]:
mylist=list("deabc");mylist

In [ ]:
k=mylist

In [ ]:
k

In [ ]:
# remove the first element of k

In [ ]:
# now check mylist

### You can use copy method of an object if you want to create copies

In [ ]:
mylist=list("deabc");mylist

In [ ]:
k=mylist.copy()

In [ ]:
k

In [ ]:
# remove the first element of k

In [ ]:
# now check mylist

### if an object does not have a copy method you can use the copy module

In [ ]:
mylist=list("deabc");mylist

In [ ]:
import copy
k=copy.copy(mylist)

In [ ]:
k.pop(0)

In [ ]:
mylist

### Insert function adds element at the desired index

In [ ]:
mylist=["Zebra","Lion","Cat","Camel","Eagle","Shark"]

In [ ]:
mylist.insert(1,"Whale")

In [ ]:
mylist

In [ ]:
mylist.reverse()

In [ ]:
mylist

In [ ]:
mylist.clear()

In [ ]:
mylist

In [ ]:
del mylist

In [ ]:
mylist

## In operator 
This operator returns if searched element in the data object or not

In [ ]:
mylist=["Zebra","Lion","Cat","Camel","Eagle","Shark"]

In [ ]:
"Eagle" in mylist

In [ ]:
"Horse" in mylist

In [ ]:
t="There are 30 students registered to this class"

In [ ]:
"class" in t

In [ ]:
"Class" in t

## Dictionaries

A dictionary is like a list, but more general. In a list, the positions (indices) have to be integers; in a dictionary the indices can be (almost) any type.
<br> Dictionary maps between a set of indices (which are called keys) and a set of values.
<br> Dictionaries can be created by using curly braces {} and using colons to separate keys and values:

In [ ]:
salary={}

In [ ]:
salary["john"]=1000

In [ ]:
salary

In [ ]:
salary["tim"]=2000

In [ ]:
salary

In [ ]:
salary["alexander"]=3000

In [ ]:
salary

now get the salary of tim

In [ ]:
salary["tim"]

now get the salary of john

try getting the first element of dictionary

In [ ]:
salary[0]

in dictionary you cannot access the data using indeces!!

with in operator you can check if key is there or not

In [ ]:
"tim" in salary

In [ ]:
"Jack" in salary

to remove elements use dictionary.pop() function

In [ ]:
salary.pop("tim")

In [ ]:
salary

• The keys and values method give you lists of the keys and values, respectively

In [ ]:
salary.keys()

In [ ]:
salary.values()

items function retursn both key and value

In [ ]:
salary.items()

• One dictionary can be merged into another using the update method.

In [ ]:
salary.update({"kate":1500,"daniel":3000})

In [ ]:
salary

get method returns a default value—None, if the key doesn’t exist. 
<br> This feature is important it does not give error if the key is not in the dictionary.

In [ ]:
salary["kate"]

In [ ]:
salary["jack"]

In [ ]:
salary.get("jack")

- by default get function returns none if key does not exist
- However, you can specify the ouput of the get method if key does not exist

In [ ]:
salary.get("jack",[])

In [ ]:
salary.get("jack","test")

##  Nested Dictionary

In [ ]:
rec = {'name': 'Bob',
'jobs': ['developer', 'manager'],
'web': 'www.bobs.org/ ̃Bob',
'home': {'state': 'Overworked', 'zip': 12345}}

In [ ]:
rec

In [ ]:
rec["name"]

In [ ]:
rec["jobs"]

In [ ]:
rec["jobs"][0]

In [ ]:
rec["home"]

get the zip code

## Sets

A set is an unordered collection of unique elements.
<br>• A set can be created in two ways: via the set function or using curly braces:
<br>• Sets support mathematical set operations like union, intersection, difference
<br>• Empty set should be created as s=set() command. This creates a new set which is called as s.

In [ ]:
a={2,3,5,7,7,7,4,4,4,3,3}

In [ ]:
type(a)

In [ ]:
a

In [ ]:
b=set([1,2,2,2,3,3,9,9,6,6,6])

In [ ]:
b

In [ ]:
a | b #union

In [ ]:
a & b #intersection

In [ ]:
a-b # difference

In [ ]:
b-a

press tab key after a. to see what functions available for set objects

In [ ]:
a.isdisjoint(b)

In [ ]:
c=set([10,20,30])

In [ ]:
a.isdisjoint(c)

sets take strings as well

In [ ]:
engineers={"bob","sue","ann","vic"}

In [ ]:
managers={"tom","sue"}

In [ ]:
"bob" in engineers

In [ ]:
engineers&managers

In [ ]:
engineers | managers

In [ ]:
engineers - managers